

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url('https://wallpapers.com/images/featured/z7g866zr50wqtz0v.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    filter: blur(30px);
    position: absolute;
    z-index: -1;
}

.loading-text {
    font-size: 50px;
    background-color: #ffffff;
    border: 2;
    margin: 5px;
    padding: 8px 30px;
    border-radius: 6px;
}