@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Signika+Negative&display=swap');


body {
    background-color: #7393b3;
}



.container {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: 50;
    margin: 0px;
}

.container.images {

    justify-content: space-between;
}

.example {
    background-image: url('https://miro.medium.com/v2/resize:fit:870/0*ojIU84VO1XMGIn6_.jpg');
    padding: 10px 32px;
    margin: 20;
    font-size: 20px;
    text-align: center;
