@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Signika+Negative&display=swap');


body {
    background-color: #ffffff;
}


.loading-text {
    font-size: 50px;
    text-align: center;
    top: 150px;
    padding: 200px;

}

.bg {
    width: 50vw;
    height: 50vh;
    background-image: url('https://images.ctfassets.net/mviowpldu823/3DjsfDKUSWQBfdWMEbecCQ/24f09c374ddb299ee332352fd69e4042/SES-Computer-Science-1900862161.jpg');
    background-repeat: none;
    background-size: cover;
    position: absolute;
    background-align: center;

}