@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Signika+Negative&display=swap');


body {
    background-color: #C8A2c9;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.container {
    font-size: 50px;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
