@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Signika+Negative&display=swap');


body {
    background-color: #7393b3;
    overflow: 0;
}


.btn-container {
    
}

.btn {
    border: 2;
    margin: 5px;
    padding: 8px 30px;
    font-size: 25px;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    display: flex;
    overflow: 0;
}

.example {
    background-image: url('https://miro.medium.com/v2/resize:fit:870/0*ojIU84VO1XMGIn6_.jpg');
    padding: 10px 32px;
    margin: 20;
    font-size: 20px;
    text-align: center;
