
body {
    margin: 0;
    background-color: #f0b5b3;
}

.heading {
    background-color: #ffffff;
    display: flex;
    align-items: top;
    justify-content: top;
    height: 50px;
    width: 100%
  }
